<div class="geocode-search-input-container">
  <div class="field search-field">
    <div #searchInputContainerRef class="input-field">
      <input #searchInputRef
        type="search"
        placeholder="Search..."
        (input)="onSearchQueryInput($event)"
        (keydown.enter)="onSearchQueryInput($event)"
      />
      <i class="fas fa-search"></i>
    </div>

    <div *ngIf="showingSearchResults" #searchResultsRef class="search-results">
      <div
        *ngFor="let result of searchResults"
        class="search-result"
        (click)="handleSearchResultClick(result)"
      >
        {{ result.placeName }}
      </div>
    </div>
  </div>
</div>
