<div class="my-group-page-container flex justify-center items-start">
  <div *ngIf="groupLoading" class="loading">
    <i class="fas fa-spinner fa-spin"></i>
  </div>

  <my-group-sidebar class="h-full"></my-group-sidebar>

  <div class="page-content flex-grow h-full w-full">
    <div *ngIf="!currentGroup" class="no-group bg-white h-full w-full">
      <ng-container *ngIf="!showingCreateGroupForm">
        <div class="flex flex-col justify-center items-center h-full w-full">
          <h1>Lets get started!</h1>
          <p class="my-1">Make a group and start making posts and applications</p>
          <button class="primary-button" (click)="showCreateGroupForm()">Create a group</button>
        </div>
      </ng-container>
      <ng-container *ngIf="showingCreateGroupForm">
        <div class="w-full p-8">
          <div class="w-full h-full bg-gray-400 p-24 rounded-md">
            <create-group-form></create-group-form>
          </div>
        </div>
      </ng-container>
    </div>
    <div *ngIf="currentGroup" class="group-tabs h-full w-full p-8">
      <div class="tabs h-full">
        <tab-group [tabs]="[groupTabs.Posts, groupTabs.Applications]" [(selectedTab)]="selectedTab">
          <div *ngIf="selectedTab === groupTabs.Posts" class="group-tab-content group-post-content">
            <edit-post-form
              *ngIf="currentGroup.post"
              [post]="currentGroup.post"
              [readonly]="!canLoggedInUserEdit"
            ></edit-post-form>
            <create-post-form *ngIf="!currentGroup.post && canLoggedInUserEdit"></create-post-form>
            <h1 *ngIf="!currentGroup.post && !canLoggedInUserEdit" class="text-accent text-2xl">
              Your account cannot make edits for your group
            </h1>
          </div>
          <div
            *ngIf="selectedTab === groupTabs.Applications"
            class="group-tab-content group-application-content"
          >
            <accordion *ngIf= "currentGroup.sentApplications" headerText="Sent Applications">
              <div *ngIf="currentGroup.sentApplications.length == 0" class="bg-white w-full h-15">
                <h1>This group has not applied to a post</h1>
              </div>
              <div *ngFor="let application of currentGroup.sentApplications" class="application-container">
                <action-card>
                  <div card-content>
                    <div class="location-name text-xl font-bold">Post location: {{ application.post.location.placeName }}</div>
                    <p class="description text-gray-500 text-sm">Description: {{ application.post.description }}</p>
                  </div>
    
                  <div card-footer>
                    <div class="flex justify-between items-center">
                      <div class="status flex-grow">
                        Status: {{application.state}}
                      </div> 
                      <div class="buttons">
                        <button class="secondary-button mr-2">Delete</button>
                        <button class="primary-button mr-2" (click) = "viewSentApplicationGroup(application.post)" class="primary-button">
                          View Post on Map
                        </button>
                      </div>
                    </div>
                    
                  </div>
                 </action-card> 
              </div>
            </accordion>
            <accordion headerText="Received Applications">
              <div *ngIf="!currentGroup.post" class="bg-white w-full h-15">
                <h1>This group has not made a post </h1>
              </div>
              <div *ngIf="currentGroup.post">
                <div *ngIf="currentGroup.post.applications == 0" class="bg-white w-full h-15">
                  <h1>This group has not received any applications </h1>
                </div>
              </div>
              <ng-container *ngIf = "currentGroup.post">
                <div *ngFor="let receivedApplication of filteredApplications" class="application-container">
                  <action-card>
                    <div card-content>
                      <div class="post-name text-xl font-bold">Group Name: {{ receivedApplication.applicantGroup.name }}</div>
                      <p class="comment text-gray-500 text-sm">Comment: {{ receivedApplication.comment }}</p>
                    </div>
      
                    <div card-footer>
                      <div class="buttons w-full flex justify-end items-center">
                        <button
                          class="primary-button mr-2"
                          (click)="handleAcceptReceivedGroupApplicant(receivedApplication)"
                        >
                          Accept
                        </button>
                        <button
                          class="secondary-button mr-2"
                          (click) = "handleDeclineReceivedGroupApplicant(receivedApplication)"
                        >Decline
                        </button>
                        <button class="secondary-button mr-2" (click)="viewReceivedGroupApplicant(receivedApplication)">
                          View
                        </button>
                      </div>
                    </div>
                   </action-card> 
                </div>
              </ng-container>
            </accordion>
          </div>
        </tab-group>
      </div>
    </div>
  </div>
</div>
