.my-group-page-container {
  @apply h-full;

  sidebar-slider {
    @apply bg-gray-400;
    .sidebar-slider-content {
      min-width: 25vw;

      .group-content {
        @apply p-4 mb-4;

        .field {
          @apply flex flex-col justify-center items-start mt-4;

          label {
            @apply text-primary_dark font-bold;
          }

          input {
            @apply w-full p-2 bg-white outline-none rounded-sm leading-none;
          }

          .group-user {
            @apply bg-white p-3 rounded-sm w-full text-primary_dark text-xl leading-none;
            h2 {
              @apply font-bold;
            }
            p {
              @apply text-lg leading-none;
            }
            i {
              @apply text-2xl leading-none;
              transition: 0.3s;
              cursor: pointer;
              &:hover {
                @apply text-primary;
              }
            }
          }
        }
      }

      .group-invitation-content {
        @apply p-4;

        .no-invitations {
          @apply bg-white p-3 rounded-sm w-full text-primary_dark leading-none;
        }
      }
    }
  }

  .page-content {
    .group-tabs {
      .tabs {
        .group-tab-content {
          @apply h-full w-full rounded-sm bg-gray-400 p-4;
        }
      }
    }
  }
}
