<div class="invite-group-member-dialog-container">
  <base-dialog>
    <div dialog-header>
      <h1 class="text-2xl w-full">Invite members to your group</h1>
    </div>
    <div dialog-content>
      <div>
        <div class="field search-field">
          <label for="search">Search for group members</label>
          <div class="input-field">
            <input
              type="search"
              placeholder="Search by name or email..."
              (input)="onSearchQueryInput($event)"
            />
            <i class="fas fa-search"></i>
          </div>
          <div *ngIf="showSearchResults" class="search-results">
            <div *ngIf="!searchResults || searchResults.length === 0" class="no-results">
              <p>No results match your search</p>
            </div>
            <div *ngIf="searchResults && searchResults.length > 0" class="results mt-2">
              <div
                *ngFor="let searchResult of searchResults"
                class="search-result mt-2"
                (click)="handleSearchResultClick(searchResult)"
              >
                <group-member-card
                  [groupUser]="{ user: searchResult }"
                  [hasActions]="false"
                  [showRole]="false"
                ></group-member-card>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="usersToInvite && usersToInvite.length > 0" class="invites-to-send mt-4">
          <label>Invites to send</label>
          <div class="mb-4 members-container" *ngFor="let user of usersToInvite">
            <group-member-card
              [groupUser]="{user}"
              [hasActions]="false"
              [showRole]="false"
            ></group-member-card>

            <i class="fas fa-times" (click)="removeUserFromInvitesToSend(user)"></i>
          </div>
        </div>
      </div>
    </div>
    <div dialog-footer>
      <i class="fas fa-right-to-bracket"></i>
      <button class="primary-button w-full" (click)="sendInvites()">Send invites</button>
    </div>
  </base-dialog>
</div>
