<div #mapContainer class="map-container h-full w-full">
  <mgl-map
    *ngIf="showMap"
    #map
    class="h-full w-full"
    [style]="mapStyle"
    [zoom]="zoom"
    [center]="center"
    (mapDragEnd)="handleCenterUpdate($event)"
    (zoomEnd)="handleZoomUpdate($event)"
  >
    <!-- Controls -->
    <mgl-control mglNavigation position="top-left"></mgl-control>
    <mgl-control mglGeolocate position="top-left" [showUserLocation]="true"></mgl-control>
    <mgl-control position="top-right">
      <geocode-search-input (onSearchResults)="handleSearchResults($event)"></geocode-search-input>
    </mgl-control>
    <mgl-control mglScale position="bottom-left" [unit]="'imperial'"></mgl-control>

    <!-- User Marker -->
    <mgl-marker *ngIf="searchPinLocation" [lngLat]="searchPinLocation">
      <div class="location-pulse"></div>
    </mgl-marker>

    <!-- Post markers -->
    <ng-container *ngFor="let post of showingPosts; let i = index">
      <mgl-marker #i [lngLat]="[post.location.lng, post.location.lat]">
        <img
          src="assets/pin.png"
          alt="pin.png"
          class="map-pin h-8"
          (click)="handlePostPinClick(post)"
        />
      </mgl-marker>
      <!-- <mgl-popup *ngIf="markers.get(i)" [marker]="markers.get(i)">
        <h1>popup for {{ post.id }}</h1>
      </mgl-popup> -->
    </ng-container>
  </mgl-map>
</div>
