.create-group-form-container {
  @apply bg-white p-8 rounded-md mx-auto;
  max-width: 40rem;
  .field {
    @apply mb-2;
    transition: 0.3s;
    position: relative;

    label {
      @apply text-sm font-bold text-accent;
    }
    input,
    select,
    textarea {
      @apply block w-full border border-gray-500 rounded-sm p-1 text-primary_dark;
      transition: 0.3s;
      outline: none;
      &::placeholder {
        @apply text-gray-500;
      }
    }

    select,
    input[type='date'] {
      &.ng-invalid {
        @apply text-gray-500;
        option {
          @apply text-black;
        }
      }
    }

    .field_error {
      position: absolute;
      top: 0%;
      left: 0%;
      opacity: 0;
      transition: 0.3s;
      pointer-events: none;
    }
    &.hasErrors {
      @apply mb-4;
      input {
        @apply rounded-br-none;
      }

      .field_error {
        @apply text-accent text-sm font-light;
        top: 100%;
        opacity: 1;
      }
    }
  }
}
