<form [formGroup]="form" (ngSubmit)="submit()" class="create-post-form-container">
  <h1 class="text-accent mb-8 text-center">Create a new post</h1>

  <div class="field" [class.hasErrors]="leaseStart.touched && leaseStart.invalid">
    <label for="create-post-lease-start">Lease Start date&nbsp;<span>*</span></label>
    <input
      #leaseStartInputRef
      id="create-post-lease-start"
      name="leaseStart"
      type="date"
      formControlName="leaseStart"
      (focus)="showPicker(leaseStartInputRef)"
    />
    <span class="field_error"> * Must select valid lease start date</span>
  </div>

  <div class="field" [class.hasErrors]="leaseEnd.touched && leaseEnd.invalid">
    <label for="create-post-lease-end">Lease End date&nbsp;<span>*</span></label>
    <input
      #leaseEndInputRef
      id="create-post-lease-end"
      name="leaseEnd"
      type="date"
      formControlName="leaseEnd"
      (focus)="showPicker(leaseEndInputRef)"
    />
    <span class="field_error"> * Must select valid lease end date</span>
  </div>

  <div class="field">
    <label for="create-post-description">Desciption&nbsp;</label>
    <input
      id="create-post-description"
      name="description"
      type="text"
      placeholder="Post description"
      formControlName="description"
    />
  </div>

  <fieldset class="field" [class.hasErrors]="parkingType.touched && parkingType.invalid">
    <legend>Parking Type *</legend>
    <div>
      <div *ngFor="let data of parkingRadios">
        <input
          type="radio"
          id="parking-{{ data.name }}"
          formControlName="parkingType"
          name="parkingType"
          value="{{ data.value }}"
        />
        <label for="parking-{{ data.name }}"> {{ data.label }}</label>
      </div>
      <span class="field_error"></span>
    </div>
    <span class="field_error" *ngIf="parkingType.errors?.['required']">
      * Parking type is required
    </span>
  </fieldset>

  <div class="field">
    <label for="create-post-pets-allowed">Are pets allowed?&nbsp;</label>
    <input type="checkbox" id="create-post-pets-allowed" formControlName="petsAllowed" />
  </div>

  <button [disabled]="form.invalid" type="submit" class="mt-2 primary-button w-full">
    Create group
  </button>
</form>
