<form [formGroup]="form" (ngSubmit)="submit()" class="create-post-form-container">
  <h1 class="text-accent mb-8 text-center">Create a new post</h1>

  <div class="field" [class.hasErrors]="leaseStart.touched && leaseStart.invalid">
    <label for="create-post-lease-start">Lease Start date&nbsp;<span>*</span></label>
    <input
      #leaseStartInputRef
      id="create-post-lease-start"
      name="leaseStart"
      type="date"
      formControlName="leaseStart"
      (focus)="showPicker(leaseStartInputRef)"
      (change)="leaseStartInputRef.blur()"
    />
    <span class="field_error" *ngIf="leaseStart.errors?.['required']">
      * Must select valid lease start date</span
    >
  </div>

  <div
    class="field"
    [class.hasErrors]="(leaseEnd.touched || leaseEnd.dirty) && (leaseEnd.invalid || form.errors?.['illogicalLeaseDates'])"
  >
    <label for="create-post-lease-end">Lease End date&nbsp;<span>*</span></label>
    <input
      #leaseEndInputRef
      id="create-post-lease-end"
      name="leaseEnd"
      type="date"
      formControlName="leaseEnd"
      (focus)="showPicker(leaseEndInputRef)"
      (change)="leaseEndInputRef.blur()"
    />
    <span class="field_error" *ngIf="leaseEnd.errors?.['required']">
      * Must select valid lease end date</span
    >
    <span class="field_error" *ngIf="form.errors?.['illogicalLeaseDates']">
      * Lease End date must be greater than Lease Start date
    </span>
  </div>

  <div class="field">
    <label for="create-post-description">Desciption&nbsp;</label>
    <input
      id="create-post-description"
      name="description"
      type="text"
      placeholder="Post description"
      formControlName="description"
    />
  </div>

  <div class="field">
    <label for="create-post-rent">Rent&nbsp;<span>*</span></label>
    <input
      id="create-post-rent"
      name="rent"
      type="number"
      min="0"
      placeholder="Post rent"
      formControlName="rent"
    />
  </div>

  <fieldset class="field" [class.hasErrors]="parkingType.touched && parkingType.invalid">
    <legend>Parking Type *</legend>
    <div>
      <div *ngFor="let data of parkingRadios">
        <input
          type="radio"
          id="parking-{{ data.name }}"
          formControlName="parkingType"
          name="parkingType"
          value="{{ data.value }}"
        />
        <label for="parking-{{ data.name }}"> {{ data.label }}</label>
      </div>
      <span class="field_error"></span>
    </div>
    <span class="field_error" *ngIf="parkingType.errors?.['required']">
      * Parking type is required
    </span>
  </fieldset>

  <fieldset class="field" [class.hasErrors]="houseType.touched && houseType.invalid">
    <legend>House Type *</legend>
    <div>
      <div *ngFor="let data of houseRadios">
        <input
          type="radio"
          id="house-type-{{ data.name }}"
          formControlName="houseType"
          name="houseType"
          value="{{ data.value }}"
        />
        <label for="house-type-{{ data.name }}"> {{ data.label }}</label>
      </div>
      <span class="field_error"></span>
    </div>
    <span class="field_error" *ngIf="houseType.errors?.['required']">
      * House type is required
    </span>
  </fieldset>

  <div class="field">
    <label for="create-post-pets-allowed">Are pets allowed?&nbsp;</label>
    <input type="checkbox" id="create-post-pets-allowed" formControlName="petsAllowed" />
  </div>

  <div class="field">
    <label for="create-posts-location">Address:&nbsp;<span>*</span></label>
    <geocode-search-input
      id="create-posts-location"
      (onSearchResults)="handleLocation($event)"
    ></geocode-search-input>
  </div>

  <div class="field" [class.hasErrors]="attachments.invalid">
    <label for="create-post-attachments">Image attachments:</label>
    <input
      type="file"
      name="create-post-attachments"
      id="create-post-attachments"
      multiple
      accept="image/*"
      (change)="handleAttachments($event)"
    />
    <span class="field_error" *ngIf="attachments.errors?.['max']"> * Maximum only 5 images</span>
  </div>

  <button [disabled]="form.invalid" type="submit" class="mt-2 primary-button w-full">
    Create post
  </button>
</form>
