<div
  class="footer-bar-container bg-primary p-20 text-white flex justify-between items-start"
>
  <div class="rhs w-1/3">
    <div class="w-32">
      <logo></logo>
    </div>
    <p class="mt-2">Find your future roommate today.</p>

    <div class="media my-10 text-4xl">
      <i (click)="goToTwitter()" class="fab fa-twitter mr-8"></i>
      <i (click)="goToGithub()" class="fab fa-github"></i>
    </div>

    <p>
      &copy; {{ currentDate.getFullYear() }} Sunrise Destruction Group, Inc.
    </p>
  </div>
  <div class="lhs flex-grow grid grid-cols-3">
    <div class="lhs_col navigation">
      <h2>Navigation</h2>
      <div class="links">
        <a (click)="goToTopOfPage()">Top of page</a>
        <a routerLink="/">Home</a>
        <a routerLink="/map">Map</a>
      </div>
    </div>
    <div class="lhs_col support">
      <h2>Support</h2>
      <div class="links">
        <a>Product Help</a>
        <a>Report a page issue</a>
        <a>Report a site issue</a>
      </div>
    </div>
    <div class="lhs_col legal">
      <h2>Legal</h2>
      <div class="links">
        <a>Terms of service</a>
        <a>Cookies</a>
      </div>
    </div>
  </div>
</div>
