.sidebar-slider-container {
  @apply w-full h-full flex;
  position: relative;

  &-right {
    margin-left: auto;
    .sidebar-content {
      @apply border-l;
    }
  }
  &-left {
    .sidebar-content {
      @apply border-r;
    }
  }

  .animation-wrapper {
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    width: 0;
    overflow: hidden;

    &.open {
      width: 100%;
    }

    .sidebar-content {
      @apply border-gray-500 h-full w-max;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  .slider-tab {
    @apply bg-accent text-white py-10 px-1 flex justify-center items-center;
    position: absolute;
    top: 50%;
    transition: 0.3s;
    &-right {
      @apply rounded-l-sm;
      right: 100%;
    }
    &-left {
      @apply rounded-r-sm;
      left: 100%;
    }

    i {
      transition: 0.3s;
    }
    &-open {
      i {
        transition: 0.3s;
        transform: rotate(180deg);
      }
    }

    &:hover {
      @apply bg-accent_dark;
      cursor: pointer;
    }
  }
}
