.group-member-card-container {
  @apply bg-white p-3 rounded-sm w-full text-primary_dark text-xl leading-none flex justify-center items-center;
  position: relative;
  h2 {
    @apply font-bold;
  }
  p {
    @apply text-lg leading-none;
  }
  i {
    @apply text-2xl leading-none;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      @apply text-primary;
    }
  }

  .actions {
    position: absolute;
    right: 0;
    top: 65%;
    z-index: 2;
    @apply bg-white rounded-sm border border-primary;

    .action {
      @apply p-4 flex justify-between items-center bg-white;
      transition: 0.3s;
      cursor: pointer;
      &:nth-child(odd) {
        @apply bg-gray-400;
      }

      p {
        @apply ml-4;
      }

      &:hover {
        @apply bg-gray-500;
      }
    }
  }
}
