<div
  class="group-member-card-container"
  [class]="{
    removing: isRemoving,
    promoting: isPromoting,
    demoting: isDemoting
  }"
>
  <user-avatar *ngIf="groupUser" [user]="groupUser.user ?? null"></user-avatar>
  <div class="title ml-2 flex flex-col justify-center items-start flex-grow">
    <h2 class="name">{{ groupUser.user?.firstname ?? '' }} {{ groupUser.user?.lastname ?? '' }}</h2>
    <div *ngIf="showRole" class="role flex justify-start items-center">
      <p class="role">
        {{ groupUser.groupRole }}
      </p>
      <span *ngIf="isPromoting && groupUser.groupRole !== groupUserRoles.Admin"
        >&nbsp;&rarr;&nbsp;Admin</span
      >
      <span *ngIf="isPromoting && groupUser.groupRole === groupUserRoles.Admin"
        >&nbsp;&rarr;&nbsp;Owner</span
      >
      <span *ngIf="isDemoting && groupUser.groupRole !== groupUserRoles.Owner"
        >&nbsp;&rarr;&nbsp;Member</span
      >
      <span *ngIf="isDemoting && groupUser.groupRole === groupUserRoles.Owner"
        >&nbsp;&rarr;&nbsp;Admin</span
      >
    </div>
  </div>
  <i
    *ngIf="
      hasActions &&
      groupUser.userId !== loggedInGroupUser?.userId &&
      groupUser.groupRole !== groupUserRoles.Owner
    "
    #toggleButton
    class="fas fa-ellipsis-v"
    (click)="openActions()"
  ></i>

  <div *ngIf="showingActions" #actions class="actions">
    <ng-container *ngIf="!isInvite; else inviteAction">
      <div
        *ngIf="showTransferOwnershipAction && groupUser.groupRole === groupUserRoles.Admin"
        class="promote-member action"
        (click)="actionTransferOwnershipClick()"
      >
        <i class="fas fa-exchange-alt"></i>
        <p>Transfer Ownership</p>
      </div>
      <div
        *ngIf="
          (groupUser.groupRole === groupUserRoles.Member ||
            loggedInGroupUser?.groupRole === groupUserRoles.Owner) &&
          groupUser.userId !== loggedInGroupUser?.userId
        "
        class="remove-member action"
        (click)="actionRemoveClick()"
      >
        <i class="fas fa-user-slash"></i>
        <p>Remove member</p>
      </div>
      <div
        *ngIf="groupUser.groupRole === groupUserRoles.Member"
        class="promote-member action"
        (click)="actionPromoteClick()"
      >
        <i class="fas fa-caret-up"></i>
        <p>Promote to admin</p>
      </div>
      <div
        *ngIf="groupUser.groupRole === groupUserRoles.Admin"
        class="demote-member action"
        (click)="actionDemoteClick()"
      >
        <i class="fas fa-caret-down"></i>
        <p>Demote to member</p>
      </div>
    </ng-container>
    <ng-template #inviteAction>
      <div
        *ngIf="
          loggedInGroupUser?.groupRole === groupUserRoles.Admin ||
          loggedInGroupUser?.groupRole === groupUserRoles.Owner
        "
        class="remove-invite action"
        (click)="actionRemoveInviteClick()"
      >
        <i class="fas fa-user-slash"></i>
        <p>Remove invite</p>
      </div>
    </ng-template>
  </div>
</div>
