/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// Montserrat fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Comfortaa fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  @apply p-0 m-0 box-border font-montserrat;
}

h1 {
  @apply font-comfortaa font-bold text-4xl;
}

.primary-button,
.secondary-button {
  @apply rounded-sm py-1 px-2 bg-accent text-white font-medium;
  transition: 0.3s;

  &:hover {
    @apply bg-accent_dark;
  }
}
.secondary-button {
  @apply bg-white border-accent text-accent;

  &:hover {
    @apply border-accent_dark text-accent;
  }
}

// Overlay styling
@import '@angular/cdk/overlay-prebuilt.css';
// Overlay backdrop styling
.overlay-backdrop {
  @apply h-full w-full;
  background-color: rgb(0, 0, 0, 0.5);
}
// Overlay panel styling
.overlay-panel {
  @apply flex flex-col bg-white p-10 rounded-sm;
}
