<div class="page-not-found-container">
    <div class="heading flex justify-center items-center p-10">
        <div class="heading_lhs w-max max-w-2xl text-black mr-10">
            <h1 class="text-5x1">
                Uhh, you're not supposed to be here...
            </h1>
            <p class="my-6 text-gray-700 font-medium">
                It appears that you found yourself on a page you're not supposed to be on. 
                Please double check the URL and try again.
            </p>
            <button (click)="navigateToHomePage()" class="primary-button">
                Go Back Home
            </button>            
        </div>
        <div class="heading_rhs">
            <img 
            class="heading_rhs_JSgif"
            src="./../../../assets/jack-sparrow-shoo.gif"
            alt="jack sparrow shoo gif"
            />
        </div>
    </div>
    <div class="footer">
        <footer-bar></footer-bar>
    </div>
</div>