.nav-bar-container {
  @apply flex justify-between items-center;
  @apply border-b border-primary_light;
  @apply px-3 py-2;
  @apply bg-primary_dark text-white;

  .logo-link {
    @apply w-20;
  }

  .sign-in-up,
  .signed-in {
    a {
      transition: 0.3s;
      &:hover {
        @apply text-gray-500;
      }
    }
  }
}
